#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poiret One", sans-serif;
}

header {
  display: flex;
}

img {
  width: 10rem;
}
