#root {
  max-width: 1280px;
  text-align: center;
  font-family: "Poiret One", sans-serif;
}

* {
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header > h1 {
  font-size: 2rem;
}

img {
  width: 8rem;
}

a {
  color: #fd4141;
}

button {
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section,
.filter-section {
  border: solid black 3px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.info-li {
  list-style-type: none;
}

.popular-recipes-section {
  padding: 1rem;
  margin: 1rem;
  background-color: #fd4141;
  border-radius: 10px;
}

.popular-recipes-container {
  display: flex;
  justify-content: space-around;
}

.popular-recipes-container > h4 {
  font-size: 0.9rem;
  background-color: white;
  height: 4rem;
  margin: 0.3rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.recipe-card {
  background-color: #fd4141;
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
}
